@model ProductBuilder.Application.ViewModels.Aggregate.AggregateViewModel
@using ProductBuilder.Application.ViewModels.AggregateApi
@using ProductBuilder.Application.ViewModels.AggregatePropertyApi
@using ProductBuilder.Application.ViewModels.EventApi
@using ProductBuilder.Application.ViewModels.CommandApi

@{
    ViewData["Title"] = "Aggregate";
}

@section head{ 
    <style>
        .ajax-data-table-AggregateProperty {
            cursor: pointer;
        }

        .ajax-data-table-Event {
            cursor: pointer;
        }

        .ajax-data-table-Command {
            cursor: pointer;
        }
    </style>
}

<div>
    @* modal-create-AggregateProperty *@
    <div id="modal-create-AggregateProperty" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-create-AggregateProperty-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modal-create-AggregateProperty-label" class="modal-title">Property erstellen</h4>
                </div>
                <div class="modal-body">
                    @* form-CreateAggregateProperty *@
                    <form id="form-CreateAggregateProperty" action="@Url.RouteUrl(nameof(AggregatePropertyApiController.CreateAggregateProperty))">
                        <div>
                            @Html.AntiForgeryToken()
                            <input id="input-CreateAggregateProperty-AggregateProperty-AsdAggregateId" type="text" hidden="hidden" required="required" name="@nameof(CreateAggregatePropertyApiViewModel.AsdAggregateId)" value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-CreateAggregateProperty-AggregateProperty-Name">Name</label>
                            <input id="input-CreateAggregateProperty-AggregateProperty-Name" type="text" class="form-control" required="required" name="@nameof(CreateAggregatePropertyApiViewModel.Name)" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="select-CreateAggregateProperty-AggregateProperty-Type">Typ</label>
                            <select id="select-CreateAggregateProperty-AggregateProperty-Type" class="form-control" required="required" name="@nameof(CreateAggregatePropertyApiViewModel.Type)">
                                <option value="bool">bool</option>
                                <option value="int">int</option>
                                <option value="string">string</option>
                                <option value="Guid">Guid</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="select-CreateAggregateProperty-AggregateProperty-LinkedAggregateId">Aggregate</label>
                            <select id="select-CreateAggregateProperty-AggregateProperty-LinkedAggregateId" class="form-control" required="required" disabled="disabled" name="@nameof(CreateAggregatePropertyApiViewModel.LinkedAggregateId)"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-CreateAggregateProperty-AggregateProperty-LinkedAggregateName">Aggregate Name</label>
                            <input id="input-CreateAggregateProperty-AggregateProperty-LinkedAggregateName" type="text" class="form-control" required="required" disabled="disabled" name="@nameof(CreateAggregatePropertyApiViewModel.LinkedAggregateName)" />
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label" for="input-CreateAggregateProperty-AggregateProperty-IsAggregateRoot">
                                    <input id="input-CreateAggregateProperty-AggregateProperty-IsAggregateRoot" type="checkbox" disabled="disabled" name="@nameof(CreateAggregatePropertyApiViewModel.IsAggregateRoot)" />
                                    Aggregate Root
                                </label>
                            </div>
                        </div>
                        <button id="button-CreateAggregateProperty" type="button" class="btn btn-success pull-right">Property erstellen</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
    @* modal-detail-AggregateProperty *@
    <div id="modal-detail-AggregateProperty" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-detail-AggregateProperty-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modal-detail-AggregateProperty-label" class="modal-title">Property</h4>
                </div>
                <div class="modal-body">
                    @* form-DeleteAggregateProperty *@
                    <form id="form-DeleteAggregateProperty" action="@Url.RouteUrl(nameof(AggregatePropertyApiController.DeleteAggregateProperty))">
                        <div>
                            @Html.AntiForgeryToken()
                            <input id="input-DeleteAggregateProperty-AggregateProperty-Id" required="required" hidden="hidden" name="@nameof(DeleteAggregatePropertyApiViewModel.Id)" />
                            <input id="input-DeleteAggregateProperty-AggregateProperty-AsdAggregateId" type="text" hidden="hidden" required="required" name="@nameof(DeleteAggregatePropertyApiViewModel.AsdAggregateId)" value="@Model.Id" />
                        </div>
                        <button id="button-DeleteAggregateProperty" type="button" class="btn btn-danger pull-right">Property löschen</button>
                        <div class="clearfix"></div>
                    </form>
                    @* form-UpdateAggregateProperty *@
                    <form id="form-UpdateAggregateProperty" action="@Url.RouteUrl(nameof(AggregatePropertyApiController.UpdateAggregateProperty))">
                        <div>
                            @Html.AntiForgeryToken()
                            <input id="input-UpdateAggregateProperty-AggregateProperty-Id" required="required" hidden="hidden" name="@nameof(UpdateAggregatePropertyApiViewModel.Id)" />
                            <input id="input-UpdateAggregateProperty-AggregateProperty-AsdAggregateId" required="required" hidden="hidden" name="@nameof(UpdateAggregatePropertyApiViewModel.AsdAggregateId)" value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-UpdateAggregateProperty-AggregateProperty-Name">Name</label>
                            <input id="input-UpdateAggregateProperty-AggregateProperty-Name" type="text" class="form-control" required="required" name="@nameof(UpdateAggregatePropertyApiViewModel.Name)" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="select-UpdateAggregateProperty-AggregateProperty-Type">Typ</label>
                            <select id="select-UpdateAggregateProperty-AggregateProperty-Type" type="text" class="form-control" required="required" name="@nameof(UpdateAggregatePropertyApiViewModel.Type)">
                                <option value="bool">bool</option>
                                <option value="int">int</option>
                                <option value="string">string</option>
                                <option value="Guid">Guid</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="select-UpdateAggregateProperty-AggregateProperty-LinkedAggregateId">Aggregate</label>
                            <select id="select-UpdateAggregateProperty-AggregateProperty-LinkedAggregateId" type="text" class="form-control" required="required" disabled="disabled" name="@nameof(UpdateAggregatePropertyApiViewModel.LinkedAggregateId)" ></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-UpdateAggregateProperty-AggregateProperty-LinkedAggregateName">Aggregate Name</label>
                            <input id="input-UpdateAggregateProperty-AggregateProperty-LinkedAggregateName" type="text" class="form-control" required="required" disabled="disabled" name="@nameof(UpdateAggregatePropertyApiViewModel.LinkedAggregateName)" />
                        </div>


                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label" for="input-UpdateAggregateProperty-AggregateProperty-IsAggregateRoot">
                                    <input id="input-UpdateAggregateProperty-AggregateProperty-IsAggregateRoot" type="checkbox" disabled="disabled" name="@nameof(UpdateAggregatePropertyApiViewModel.IsAggregateRoot)" />
                                    Aggregate Root
                                </label>
                            </div>
                        </div>
                        <button id="button-UpdateAggregateProperty" type="button" class="btn btn-success pull-right">Property aktualisieren</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
    @* modal-create-Event *@
    <div id="modal-create-Event" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-create-Event-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modal-create-Event-label" class="modal-title">Ereigniss erstellen</h4>
                </div>
                <div class="modal-body">
                    @* form-CreateEvent *@
                    <form id="form-CreateEvent" action="@Url.RouteUrl(nameof(EventApiController.CreateEvent))">
                        <div>
                            @Html.AntiForgeryToken()
                            <input id="input-CreateEvent-Event-AsdAggregateId" type="text" required="required" hidden="hidden" name="@nameof(CreateEventApiViewModel.AsdAggregateId)" value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-CreateEvent-Event-EventName">Ereigniss</label>
                            <input id="input-CreateEvent-Event-EventName" type="text" class="form-control" required="required" name="@nameof(CreateEventApiViewModel.EventName)" />
                        </div>
                        <button id="button-CreateEvent" type="button" class="btn btn-success pull-right">Ereigniss erstellen</button>
                        <div class="clearfix"></div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
    @* modal-detail-Event *@
    <div id="modal-detail-Event" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-detail-Event-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modal-detail-Event-label" class="modal-title">Ereigniss</h4>
                </div>
                <div class="modal-body">
                    @* form-DeleteEvent *@
                    <form id="form-DeleteEvent" action="@Url.RouteUrl(nameof(EventApiController.DeleteEvent))">
                        <div>
                            @Html.AntiForgeryToken()
                            <input id="input-DeleteEvent-Event-Id" required="required" hidden="hidden" name="@nameof(DeleteEventApiViewModel.Id)" />
                            <input id="input-DeleteEvent-Event-AsdAggregateId" type="text" required="required" hidden="hidden" name="@nameof(DeleteEventApiViewModel.AsdAggregateId)" value="@Model.Id" />
                        </div>
                        <button id="button-DeleteEvent" type="button" class="btn btn-danger pull-right">Ereigniss löschen</button>
                        <div class="clearfix"></div>
                    </form>
                    @* form-UpdateEvent *@
                    <form id="form-UpdateEvent" action="@Url.RouteUrl(nameof(EventApiController.UpdateEvent))">
                        <div>
                            @Html.AntiForgeryToken()
                            <input id="input-UpdateEvent-Event-Id" required="required" hidden="hidden" name="@nameof(UpdateEventApiViewModel.Id)" />
                            <input id="input-UpdateEvent-Event-AsdAggregateId" type="text" required="required" hidden="hidden" name="@nameof(UpdateEventApiViewModel.AsdAggregateId)" value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-UpdateEvent-Event-EventName">Ereigniss</label>
                            <input id="input-UpdateEvent-Event-EventName" type="text" class="form-control" required="required" name="@nameof(UpdateEventApiViewModel.EventName)" />
                        </div>
                        <button id="button-UpdateEvent" type="button" class="btn btn-success pull-right">Ereigniss aktualisieren</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
    @* modal-create-Command *@
    <div id="modal-create-Command" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-create-Command-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modal-create-Command-label" class="modal-title">Kommando erstellen</h4>
                </div>
                <div class="modal-body">
                    @* form-CreateCommand *@
                    <form id="form-CreateCommand" action="@Url.RouteUrl(nameof(CommandApiController.CreateCommand))">
                        <div>
                            @Html.AntiForgeryToken()
                            <input id="input-CreateCommand-Command-DomainAggregate" type="text" required="required" hidden="hidden" name="@nameof(CreateCommandApiViewModel.DomainAggregate)" value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-CreateCommand-Command-CommandName">Kommando</label>
                            <input id="input-CreateCommand-Command-CommandName" type="text" class="form-control" required="required" name="@nameof(CreateCommandApiViewModel.CommandName)" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-CreateCommand-Command-RouteTemplate">Route</label>
                            <input id="input-CreateCommand-Command-RouteTemplate" type="text" class="form-control" required="required" name="@nameof(CreateCommandApiViewModel.RouteTemplate)" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-CreateCommand-Command-CommandType">Art</label>
                            <input id="input-CreateCommand-Command-CommandType" type="text" class="form-control" required="required" name="@nameof(CreateCommandApiViewModel.CommandType)" />
                        </div>
                        <button id="button-CreateCommand" type="button" class="btn btn-success pull-right">Kommando erstellen</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Title</h3>
            </div>
            <div class="panel-body">
                <h3>Stammdaten</h3>
                <hr />
                @* form-DeleteAggregate *@
                <form id="form-DeleteAggregate" action="@Url.RouteUrl(nameof(AggregateApiController.DeleteAggregate))">
                    <div>
                        @Html.AntiForgeryToken()
                        <input id="input-DeleteAggregate-Aggregate-Id" required="required" hidden="hidden" name="@nameof(DeleteAggregateApiViewModel.Id)" value="@Model.Id" />
                    </div>
                    <button id="button-DeleteAggregate" type="button" class="btn btn-danger pull-right">Aggregate löschen</button>
                    <div class="clearfix"></div>
                </form>
                @* form-UpdateAggregate *@
                <form id="form-UpdateAggregate" action="@Url.RouteUrl(nameof(AggregateApiController.UpdateAggregate))">
                    <div>
                        @Html.AntiForgeryToken()
                        <input id="input-UpdateAggregate-Aggregate-Id" required="required" hidden="hidden" name="@nameof(UpdateAggregateApiViewModel.Id)" value="@Model.Id" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-UpdateAggregate-Aggregate-Name">Name</label>
                        <input id="input-UpdateAggregate-Aggregate-Name" type="text" class="form-control" required="required" name="@nameof(UpdateAggregateApiViewModel.Name)" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-UpdateAggregate-Aggregate-NamePluralized">Plural</label>
                        <input id="input-UpdateAggregate-Aggregate-NamePluralized" type="text" class="form-control" required="required" name="@nameof(UpdateAggregateApiViewModel.NamePluralized)" value="@Model.NamePluralized" />
                    </div>
                    <button id="button-UpdateAggregate" type="button" class="btn btn-success pull-right">Aggregate aktualisieren</button>
                    <div class="clearfix"></div>
                </form>
                <h3>Properties</h3>
                <hr />
                @* table-AggregateProperties *@
                <table id="table-AggregateProperties" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Aggregate</th>
                            <th>Aggregate Name</th>
                            <th>Aggregate Root</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Aggregate</th>
                            <th>Aggregate Name</th>
                            <th>Aggregate Root</th>
                        </tr>
                    </tfoot>
                </table>
                <h3>Ereignisse</h3>
                <hr />
                @* table-Events *@
                <table id="table-Events" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ereigniss</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ereigniss</th>
                        </tr>
                    </tfoot>
                </table>
                <h3>Kommandos</h3>
                <hr />
                @* table-Commands *@
                <table id="table-Commands" class="table table-striped">
                    <thead>
                        <tr>
                            <th>CommandName</th>
                            <th>RouteTemplate</th>
                            <th>CommandType</th>
                            <th>DomainAggregate</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>CommandName</th>
                            <th>RouteTemplate</th>
                            <th>CommandType</th>
                            <th>DomainAggregate</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="panel-footer">footer</div>
        </div>
    </div>
</div>

@section scripts{ 
    <script type="text/javascript">
        $(function () {
            var $formDeleteAggregate = $('#form-DeleteAggregate'),
                $formUpdateAggregate = $('#form-UpdateAggregate'),
                $formCreateAggregateProperty = $('#form-CreateAggregateProperty'),
                $formDeleteAggregateProperty = $('#form-DeleteAggregateProperty'),
                $formUpdateAggregateProperty = $('#form-UpdateAggregateProperty'),
                $formCreateEvent = $('#form-CreateEvent'),
                $formDeleteEvent = $('#form-DeleteEvent'),
                $formUpdateEvent = $('#form-UpdateEvent'),
                $selectCreateAggregatePropertyAggregatePropertyType = $('#select-CreateAggregateProperty-AggregateProperty-Type'),
                $selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId = $('#select-CreateAggregateProperty-AggregateProperty-LinkedAggregateId'),
                $selectUpdateAggregatePropertyAggregatePropertyType = $('#select-UpdateAggregateProperty-AggregateProperty-Type'),
                $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId = $('#select-UpdateAggregateProperty-AggregateProperty-LinkedAggregateId'),
                $inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot = $('#input-CreateAggregateProperty-AggregateProperty-IsAggregateRoot'),
                $inputCreateAggregatePropertyAggregatePropertyLinkedAggregateName = $('#input-CreateAggregateProperty-AggregateProperty-LinkedAggregateName'),
                $inputDeleteAggregatePropertyAggregatePropertyId = $('#input-DeleteAggregateProperty-AggregateProperty-Id'),
                $inputUpdateAggregatePropertyAggregatePropertyId = $('#input-UpdateAggregateProperty-AggregateProperty-Id'),
                $inputUpdateAggregatePropertyAggregatePropertyName = $('#input-UpdateAggregateProperty-AggregateProperty-Name'),
                $inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName = $('#input-UpdateAggregateProperty-AggregateProperty-LinkedAggregateName'),
                $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot = $('#input-UpdateAggregateProperty-AggregateProperty-IsAggregateRoot'),
                $inputDeleteEventEventId = $('#input-DeleteEvent-Event-Id'),
                $inputUpdateEventEventId = $('#input-UpdateEvent-Event-Id'),
                $inputUpdateEventEventEventName = $('#input-UpdateEvent-Event-EventName'),
                $buttonDeleteAggregate = $('#button-DeleteAggregate'),
                $buttonUpdateAggregate = $('#button-UpdateAggregate'),
                $buttonCreateAggregateProperty = $('#button-CreateAggregateProperty'),
                $buttonDeleteAggregateProperty = $('#button-DeleteAggregateProperty'),
                $buttonUpdateAggregateProperty = $('#button-UpdateAggregateProperty'),
                $buttonCreateEvent = $('#button-CreateEvent'),
                $buttonDeleteEvent = $('#button-DeleteEvent'),
                $buttonUpdateEvent = $('#button-UpdateEvent'),
                $tableAggregateProperties = $('#table-AggregateProperties'),
                $tableEvents = $('#table-Events'),
                $tableCommands = $('#table-Commands'),
                $modalCreateAggregateProperty = $('#modal-create-AggregateProperty'),
                $modalDetailAggregateProperty = $('#modal-detail-AggregateProperty'),
                $modalCreateEvent = $('#modal-create-Event'),
                $modalDetailEvent = $('#modal-detail-Event'),
                $modalCreateCommand = $('#modal-create-Command'),
                $body = $('body'),
                dataTableAggregateProperties = $tableAggregateProperties.DataTable(),
                dataTableEvents = $tableEvents.DataTable(),
                dataTableCommands = $tableCommands.DataTable(),
                dataTableAggregatePropertiesUrl = '@Url.RouteUrl(nameof(AggregatePropertyApiController.AggregatePropertiesDataTable))',
                dataTableEventsUrl = '@Url.RouteUrl(nameof(EventApiController.EventsDataTable))',
                dataTableCommandsUrl = '@Url.RouteUrl(nameof(CommandApiController.CommandsDataTable))',
                productAggregatesJsonArrayUrl = '@Url.RouteUrl(nameof(AggregateApiController.ProductAggregatesJsonArray))';

            function initDataTableAggregateProperties() {
                dataTableAggregateProperties.destroy();
                dataTableAggregateProperties = $tableAggregateProperties.DataTable({
                    dom: 'Bfrtip',
                    ajax: dataTableAggregatePropertiesUrl,
                    buttons: [
                        {
                            text: 'Property erstellen',
                            action: function () {
                                $modalCreateAggregateProperty.modal();
                            }
                        }
                    ]
                });
            }

            function initSelectsLinkedAggregate() {
                $selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId.find('option')
                    .remove().end();
                $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.find('option')
                    .remove().end();
                $selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId
                    .append('<option value="">Kein Aggregate</option>');
                $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId
                    .append('<option value="">Kein Aggregate</option>')
                $.ajax({
                    type: 'GET',
                    url: productAggregatesJsonArrayUrl,
                    success: function (response) {
                        response.forEach(function (item) {
                            $selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId
                                .append('<option value="' + item.id + '">' + item.name + '</option>');
                            $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId
                                .append('<option value="' + item.id + '">' + item.name + '</option>');
                        });
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }

            function initDataTableEvents() {
                dataTableEvents.destroy();
                dataTableEvents = $tableEvents.DataTable({
                    dom: 'Bfrtip',
                    ajax: dataTableEventsUrl,
                    buttons: [
                        {
                            text: 'Ereigniss erstellen',
                            action: function () {
                                $modalCreateEvent.modal();
                            }
                        }
                    ]
                });
            }

            function initDataTableCommands() {
                dataTableCommands.destroy();
                dataTableCommands = $('#table-Commands').DataTable({
                    dom: 'Bfrtip',
                    ajax: dataTableCommandsUrl,
                    buttons: [
                        {
                            text: 'Kommando erstellen',
                            action: function () {
                                $modalCreateCommand.modal();
                            }
                        }
                    ]
                });
            }

            $selectCreateAggregatePropertyAggregatePropertyType.change(function () {
                var $this = $(this),
                    value = $this.val();
                if (value === 'Guid') {
                    if ($selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled')) {
                        $selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId.removeAttr('disabled');
                    }
                    if ($inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled')) {
                        $inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.removeAttr('disabled');
                    }
                    if ($inputCreateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled')) {
                        $inputCreateAggregatePropertyAggregatePropertyLinkedAggregateName.removeAttr('disabled');
                    }
                } else {
                    if (!$selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled')) {
                        $selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled', 'disabled');
                        $selectCreateAggregatePropertyAggregatePropertyLinkedAggregateId.val('');
                    }
                    if (!$inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled')) {
                        $inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled', 'disabled');
                        $inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('checked', false);
                    }
                    if (!$inputCreateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled')) {
                        $inputCreateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled', 'disabled');
                        $inputCreateAggregatePropertyAggregatePropertyLinkedAggregateName.val('');
                    }
                }
            });

            $selectUpdateAggregatePropertyAggregatePropertyType.change(function () {
                var $this = $(this),
                    value = $this.val();
                if (value === 'Guid') {
                    if ($selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled')) {
                        $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.removeAttr('disabled');
                    }
                    if ($inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.removeAttr('disabled');
                    }
                    if ($inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.removeAttr('disabled');
                    }
                } else {
                    if (!$selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled')) {
                        $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled', 'disabled');
                        $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.val('');
                    }
                    if (!$inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled', 'disabled');
                        $inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.val('');
                    }
                    if (!$inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled', 'disabled');
                        $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.prop('checked', false);
                        $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.val(false);
                    }
                }
            });

            $inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.change(function () {
                var checked = $inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.prop('checked');
                $inputCreateAggregatePropertyAggregatePropertyIsAggregateRoot.val(checked);
            });

            $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.change(function () {
                var checked = $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.prop('checked');
                $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.val(checked);
            });

            $buttonDeleteAggregate.click(function () {
                $formDeleteAggregate.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formDeleteAggregate[0].checkValidity()) {
                    $formDeleteAggregate.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formDeleteAggregate.attr('action'),
                    data: $formDeleteAggregate.serialize(),
                    success: function (response) {
                        location.href = response.redirectUrl
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $buttonUpdateAggregate.click(function () {
                $formUpdateAggregate.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formUpdateAggregate[0].checkValidity()) {
                    $formUpdateAggregate.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formUpdateAggregate.attr('action'),
                    data: $formUpdateAggregate.serialize(),
                    success: function () {
                        $.notify({ message: 'Aggregate aktualisiert!' }, { type: 'success' });
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $buttonCreateAggregateProperty.click(function () {
                $formCreateAggregateProperty.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formCreateAggregateProperty[0].checkValidity()) {
                    $formCreateAggregateProperty.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formCreateAggregateProperty.attr('action'),
                    data: $formCreateAggregateProperty.serialize(),
                    success: function () {
                        $formCreateAggregateProperty[0].reset();
                        initDataTableAggregateProperties();
                        $modalCreateAggregateProperty.modal('hide');
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $buttonDeleteAggregateProperty.click(function () {
                $formDeleteAggregateProperty.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formDeleteAggregateProperty[0].checkValidity()) {
                    $formDeleteAggregateProperty.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formDeleteAggregateProperty.attr('action'),
                    data: $formDeleteAggregateProperty.serialize(),
                    success: function () {
                        $formDeleteAggregateProperty[0].reset();
                        initDataTableAggregateProperties();
                        $modalDetailAggregateProperty.modal('hide');
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $buttonUpdateAggregateProperty.click(function () {
                $formUpdateAggregateProperty.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formUpdateAggregateProperty[0].checkValidity()) {
                    $formUpdateAggregateProperty.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formUpdateAggregateProperty.attr('action'),
                    data: $formUpdateAggregateProperty.serialize(),
                    success: function () {
                        $formUpdateAggregateProperty[0].reset();
                        initDataTableAggregateProperties();
                        $modalDetailAggregateProperty.modal('hide');
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $buttonCreateEvent.click(function () {
                $formCreateEvent.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formCreateEvent[0].checkValidity()) {
                    $formCreateEvent.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formCreateEvent.attr('action'),
                    data: $formCreateEvent.serialize(),
                    success: function () {
                        $formCreateEvent[0].reset();
                        initDataTableEvents();
                        $modalCreateEvent.modal('hide');
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $buttonDeleteEvent.click(function () {
                $formDeleteEvent.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formDeleteEvent[0].checkValidity()) {
                    $formDeleteEvent.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formDeleteEvent.attr('action'),
                    data: $formDeleteEvent.serialize(),
                    success: function () {
                        $formDeleteEvent[0].reset();
                        initDataTableEvents();
                        $modalDetailEvent.modal('hide');
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $buttonUpdateEvent.click(function () {
                $formUpdateEvent.find('.has-error').each(function () {
                    $(this).removeClass('has-error');
                });
                if (!$formUpdateEvent[0].checkValidity()) {
                    $formUpdateEvent.find(':invalid').each(function () {
                        $(this).parent().addClass('has-error');
                    });
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: $formUpdateEvent.attr('action'),
                    data: $formUpdateEvent.serialize(),
                    success: function () {
                        $formUpdateEvent[0].reset();
                        initDataTableEvents();
                        $modalDetailEvent.modal('hide');
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });

            $body.on('click', '.ajax-data-table-AggregateProperty', function () {
                var $this = $(this),
                    id = $this.attr('data-Id'),
                    name = $this.attr('data-Name'),
                    type = $this.attr('data-Type'),
                    linkedAggregateId = $this.attr('data-LinkedAggregateId'),
                    linkedAggregateName = $this.attr('data-LinkedAggregateName'),
                    isAggregateRoot = $this.attr('data-IsAggregateRoot');

                if (isAggregateRoot === 'true') {
                    isAggregateRoot = true;
                } else {
                    isAggregateRoot = false;
                }

                $inputDeleteAggregatePropertyAggregatePropertyId.val(id);
                $inputUpdateAggregatePropertyAggregatePropertyId.val(id);
                $inputUpdateAggregatePropertyAggregatePropertyName.val(name);
                $selectUpdateAggregatePropertyAggregatePropertyType.val(type);
                $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.val(linkedAggregateId);
                $inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.val(linkedAggregateName);
                $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.val(isAggregateRoot);
                $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.prop('checked', isAggregateRoot);

                if (type === 'Guid') {
                    if ($selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled')) {
                        $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.removeAttr('disabled');
                    }
                    if ($inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.removeAttr('disabled');
                    }
                    if ($inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.removeAttr('disabled');
                    }
                } else {
                    if (!$selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled')) {
                        $selectUpdateAggregatePropertyAggregatePropertyLinkedAggregateId.attr('disabled', 'disabled');
                    }
                    if (!$inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyLinkedAggregateName.attr('disabled', 'disabled');
                    }
                    if (!$inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled')) {
                        $inputUpdateAggregatePropertyAggregatePropertyIsAggregateRoot.attr('disabled', 'disabled');
                    }
                }

                $modalDetailAggregateProperty.modal();
            });

            $body.on('click', '.ajax-data-table-Event', function () {
                var $this = $(this),
                    id = $this.attr('data-Id'),
                    eventName = $this.attr('data-EventName');

                $inputDeleteEventEventId.val(id);
                $inputUpdateEventEventId.val(id);
                $inputUpdateEventEventEventName.val(eventName);

                $modalDetailEvent.modal();
            });

            $body.on('click', '.ajax-data-table-Command', function () {
                var $this = $(this),
                    id = $this.attr('data-Id');
            });

            (function () {
                initDataTableAggregateProperties();
                initSelectsLinkedAggregate();
                initDataTableEvents();
                initDataTableCommands();
            })();
        });
    </script>
}